<section class="purchase">
  <div class="purchase__counter">
    <img
      src="assets/images/icon-minus.svg"
      alt="Cart icon"
      class="purchase__counter__minus"
      (click)="decreaseQuantity()"
    />
    <p>{{ quantity }}</p>
    <img
      src="assets/images/icon-plus.svg"
      alt="Cart icon"
      class="purchase__counter__plus"
      (click)="increaseQuantity()"
    />
  </div>

  <div class="purchase__add">
    <button (click)="addToCart()">
      <img
        src="assets/images/icon-cart.svg"
        alt="Cart icon"
        class="purchase__icon"
      />
      <span>Add to cart</span>
    </button>
  </div>
</section>
