<section class="description">
  <div class="description__brand">
    <p>SNEAKER COMPANY</p>
  </div>
  <div class="description__title">
    <h1>Fall Limited Edition Sneakers</h1>
  </div>
  <div class="description__infos">
    <p>
      These low-profile sneakers are your perfect casual wear companion.
      Featuring a durable rubber outer sole, they'll withstand everything the
      weather can offer.
    </p>
  </div>

  <div class="description__price">
    <div class="description__price__left">
      <p>$125.00</p>
      <div class="description__price__percent-off">
        <p>50%</p>
      </div>
    </div>

    <div class="description__price__original-price">
      <p>$250.00</p>
    </div>
  </div>
</section>
